BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	LIST-STYLE-IMAGE: url(../images/bulletnewgray.gif)
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #538cc6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #538cc6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

slink{
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000099; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

.maintext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headingnav {
	FONT-SIZE: 11px; COLOR: #ff7d03; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalllink {
	FONT-SIZE: 9px; COLOR: #ff7d03; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inputbox {
	BORDER-RIGHT: #1d5a7e 1px solid; BORDER-TOP: #1d5a7e 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #1d5a7e 1px solid; COLOR: #666666; BORDER-BOTTOM: #1d5a7e 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #fbfbfb
}
A.home:link {
	FONT-WEIGHT: bold; COLOR: #ff7d03; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.home:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.home:visited {
	FONT-WEIGHT: bold; COLOR: #ff8c20; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
htxt {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #caebff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.heading:link {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #caebff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.heading:hover {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #caebff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
A.heading:visited {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; COLOR: #caebff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.subheading {
	FONT-SIZE: 11px; COLOR: #2d6593; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.maintextsmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.maintextsmall:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.maintextsmall {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tdgray {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f3f3; TEXT-DECORATION: none
}
.tdgrayhead {
	FONT-SIZE: 11px; COLOR: #ff7d03; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f3f3f3; TEXT-DECORATION: none
}
.borderleft {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid
}
.button {
	FONT-SIZE: 11px; WIDTH: 50px; COLOR: #0033cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #e6e6e6
}
.breadcrumb {
	FONT-SIZE: 10px; PADDING-BOTTOM: 24px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.breadcrumb {
	FONT-SIZE: 10px; COLOR: #538cc6; TEXT-DECORATION: underline
}
A.breadcrumb:visited {
	FONT-SIZE: 10px; COLOR: #538cc6; TEXT-DECORATION: underline
}
.bg_brochure {
	BACKGROUND-POSITION: left top; FONT-SIZE: 10px; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(../images/bg.gif); BACKGROUND-REPEAT: no-repeat
}
.bg_brochure TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-SIZE: 10px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
