<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--<add key="ConnectionString" value="Password=Sys1dmin;Persist Security Info=True;User ID=sa;Initial Catalog=IndusAbroad;Data Source=SVR001"/>-->
		<add key="ConnectionString" value="Password=aceindus9;Persist Security Info=True;User ID=Indus;Initial Catalog=Indus;Data Source=sql380.mysite4now.com"/>
		
		<!--<add key="ConnectionString" value="Password=aceindus9;Persist Security Info=True;User ID=indusgroup;Initial Catalog=aceigi;Data Source=sql394.mysite4now.com"/>-->
		<add key="MailFrom" value="training@Induslearning.net"/>
		<add key="MailServer" value="mail.Induslearning.net"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
